/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#map {
width: 100%;
height: 50vh;
}

nav ul a,
nav .brand-logo {
  color: #ffffff;
}

p {
  line-height: 2.2rem;
}

.button-collapse {
  color: #ffffff;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*--------------------------*/
.TextHover {
    width: 100%;
    float: left;
    position: relative;
}

.row1 > .column1 {
    width: 33.3%;
    padding:30px;
    box-sizing: border-box;
}


.row1:after {
  content: "";
  display: block;
  clear: both;
}

.column1 {
  float: left;
  width: 16.6%;
}

/* The Modal (background) */
.modal1 {
  display: none;
  position: fixed;
  z-index: 1;
    padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00796b;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 80px;
  right: 25px;
  font-size: 35px;
    padding: 0px 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(222,0,0);
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 35px;
   -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

.prev {
  left: 0;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Number text (1/3 etc) */
img {
  margin-bottom: 10px;
}

.caption-container {
  text-align: center;
  background-color: rgb(0, 121, 107);
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 97%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 121, 107, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.TextHover:hover .overlay {
  opacity: 1;
}

.Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 25px;
}

.GalleryImage {
    width: 100%;
    margin: 0px;
}
